<div class="container-fluid">
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
  <p>
    {%  if page.attacks %}
      <strong>Attacks: </strong> <br />
      {% for item in page.attacks %}
        <u>{{item.name}}</u>
        {{item.description}}
        {% if item.link != "" %}
          <a href = "{{item.link}}">{{item.link}}</a>
        {% endif %}
        <br />

      {% endfor %}
    {%  elsif page.disadvantages %}
      <strong>Disadvantages: </strong> <br />
      {% for item in page.disadvantages %}
        <u>{{item.name}}</u>
        {{item.description}}
        {% if item.link != "" %}
          <a href = "{{item.link}}">{{item.link}}</a>
        {% endif %}
        <br />

      {% endfor %}

    {% endif %}
  </p>
  </div>
</div>
</div>
