<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
  <ol>
    {% if page.vulnerabilities %}
    <h3>Vulnerabilities</h3>
      {% for item in page.vulnerabilities %}
        <li><u>{{item.name}}</u>:
        {{item.description}}
        {% if item.link != "" %}
          <a href = "{{item.link}}">{{item.link}}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if page.warnings %}
    <h3>Warnings:</h3>
      {% for item in page.warnings %}
        <li><u>{{item.name}}</u>:
        {{item.description}}
        {% if item.link != "" %}
          <a href = "{{item.link}}">{{item.link}}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if page.best_practices %}
    <h3>Best Practices</h3>
      {% for item in page.best_practices %}
        <li><u>{{item.name}}</u>: <br/>
        {{item.description}}
        {% if item.link != "" %}
          <a href = "{{item.link}}">{{item.link}}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ol>
  <p>
    For more details check <a href="{{ page.permalink | split:'/' | last | remove: '.html'}}_faq.html">the FAQ</a> for this algorithm.
  </p>
  </div>
</div>
