<div class="row m-4 p-4">
  <div align="center" class="col-md-12 animate-box">
    <h3>Other CryptoDoneRight Contributors:</h3>
    <ul style="list-style-type: none;">
      <li>David McGrew</li>
      <li>Matthew Green</li>
      <li>RedSeal Inc.</li>
    </ul>
  </div>
</div>

<div class="row m-4 p-4">
  <div class="col-md-12 animate-box">
    <div align="center">
    <h4>Graduate student contributors:</h4>
    <ul style="list-style-type: none;">
      <li>Prashanth Venkateswaran</li>
      <li>Venkata Aditya</li>
      <li>Jennifer Li</li>
      <li>Muskaan Kalra </li>
      <li>Rishabh Singh</li>
      <li>Apoorv Dayal</li>
      <li>Naman Tiwari</li>
      <li>Hyoeun Choi</li>
    </ul>
    <h4>Undergraduate student contributors:</h4>
    <ul style="list-style-type: none;">
      <li>Spencer Loggia</li>
    </ul>
    <br/>
    <h3>If you are interested in submitting content, please send us an email. All information submitted will be reviewed prior to be being posted on the web site. Here is <a href="articles/cryptographic_protocols/content-creation.html">a document we wrote to get you started</a>.</h3><br/><br/><br/><br/>
    </div>
  </div>
</div>
