<div class="row">
<div class="col-md-8 col-md-offset-2 animate-box">
<div align="justify">
<center>Dr. Matthew Green</center>
<center>Dr. Seth James Nielson</center>
<center>Johns Hopkins University Information Security Institute</center>
<center>and</center>
<center>Debra Baker, Principal Security Engineer at Cygnacom Solutions</center>
<center>David McGrew, Fellow at Cisco</center> <br />
Thanks to the graduate students who are making the knowledge base a reality with building the site and populating the pertinent cryptographic information. <br /> <br />
<ul>
<li>Prashanth Venkateswaran</li>
<li>Venkata Aditya</li>
<li>Jennifer Li</li>
<li>Muskaan Kalra </li>
<li>Rishabh Singh</li>
</ul>

The Crypto Done Right cryptographic knowledge base is a repository of practical cryptographic information. The intent is for it to be a resource for developers, administrators, and managers to quickly take action on the information. Was that lastest break-in one I should worry about, or is it a nationwide attack? What is the best practice for TLS and SSH? These are the type of questions we want to answer. The knowledge base is a resource for network administrators and developers to successfully configure and implement cryptography.  <br /> <br />
If you are interested in submitting content, please send us an email. All information submitted will be reviewed prior to be being posted on the web site. Here is <a href="articles/cryptographic_protocols/content-creation.html">a document we wrote to get you started</a>.<br /> <br /><br /> <br /><br /> <br />
</div>
</div>
</div>
