<div id="fh5co-header" class="col-md-12">
  <div id="header">
    <header id="fh5co-header-section col-md-12">
      
        <div class="nav-header col-md-12 row">
          
          <div class="col-md-6 row">
            
            <div class="col-md-12 align-bottom">
              
              
                <strong>
                  <h1 id="fh5co-logo" class="white mb-0 pb-0"><a href="/index.html">Crypto Done Right!</a></h1>
                </strong>
              </div>
              <div class="col-md-12 align-top">
                <h5 ><a href="/index.html" style="color: white">A Cryptographic Knowledge Base</a></h5>
            </div>
              
          </div>
          <div class="col-md-6" id="fh5co-menu-wrap" role="navigation">
              <!-- START #fh5co-menu-wrap -->
              <nav >
                <ul class="sf-menu" id="fh5co-primary-menu">
                  <li><a href="#"><div style="color: white">Topics</div></a>
                    <ul class="fh5co-sub-menu">
                          <li><a href="/view_all.html">View All</a></li>
                          <li><a href="/quickstarts/dev.html">Developer Quickstarts</a></li>
                          <li><a href="/quickstarts/it.html">IT Quickstarts</a></li>
                          <li><a href="/quickstarts/manager.html">Manager Quickstarts</a></li>
                    </ul>
                  </li>
                  <li><a href="/about.html"><div style="color: white">About</div></a></li>
                  <li><a href="/contact.html"><div style="color: white">Contact</div></a></li>
                </ul>
            </nav>
          </div>
        </div>

    </header>
  </div>
</div>