<div class="quickstart_table">
{% for a in site.pages %}
  {% if a.type== page.title and a.title != "FAQ"%}
  {% comment %}
    <div class="{{a.col}}">
      <br /><br /><br />
        <a href="{{a.url}}" class="btn btn-warning "> <img class="logos" src="{{a.image}}" />
          {{a.title}}</a>
        <p>
            
        </p>
        <p>
        </p>

        <div class="blockNotes">
        </div>
      </div>
      {% endcomment %}
      <div class="quickstart_row">
  <div class="quickstart_cell">
  <a href="{{a.url}}" class="btn btn-warning "> <img class="logos" src="{{a.image}}" />
          {{a.title}}</a>
  </div>
  <div class="quickstart_cell">
  {{a.note}}
  </div>
  </div>
  {% endif %}
{% endfor %}
</div>
