<script src="/CryptoDoneRight/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/CryptoDoneRight/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/CryptoDoneRight/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/CryptoDoneRight/js/jquery.waypoints.min.js"></script>
<!-- Stellar -->
<script src="/CryptoDoneRight/js/jquery.stellar.min.js"></script>
<!-- Superfish -->
<script src="/CryptoDoneRight/js/hoverIntent.js"></script>
<script src="/CryptoDoneRight/js/superfish.js"></script>

<!-- Main JS (Do not remove) -->
<script src="/CryptoDoneRight/js/main.js"></script>
