---
layout: default_about
---
		<div id="fh5co-page">
      {% include header.html %}
    <div class="fh5co-hero fh5co-hero-2 fh5co-hero-short">
      <div class="fh5co-overlay fh5co-overlay-short"></div>
      <div class="fh5co-cover fh5co-cover_2 text-center fh5co-cover-short" data-stellar-background-ratio="0.5" style="background-image: url(/static_files/crypto2.jpg);">
        <div class="desc animate-box">
          <h2><font color="white"><strong>About</strong> Us</font></h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 animate-box">
          <div align="justify">
            <center><img src="/static_files/mission-vision-values-graphic.png" style="width:300px;height:300px;" class="center" /></center>
              {{content}}
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-about">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
          <h3>People</h3>
          <figure>
            <img src="/static_files/people.jpg" alt="Our People" class="img-responsive">
          </figure>
        </div>
      </div>
    </div>
  </div>
    {% include developers.html %}
  <br /><br />
</div>
