---
layout: default
---
<div class="col-md-12">
  {% include path.html %}
</div></div>
<div class="row col-md-12">
  {% include page_nav.html %}
  {% include alerts.html %}
</div>

<div class="container-fluid cdr-page-container">
  <div class="row col-md-12">
    <div id="topic" class="col-md-12 col-sm-12 col-xs-12" style="width:100%">
      <div class="timestamp col-md-12">
        <p><span>{{page.update}}</span></p>
      </div>
      <div class="description col-md-12 p-10">
        <p>
          <a name="Overview"></a>
          <h2>Overview:</h2>
          {{ content }}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="topic">
    <a name="GettingStarted"></a>
    <h2> Getting Started:</h2>
    {% include pack.html %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <a name="MoreUsefulInfo"></a>
        <h2>More Useful Information:</h2>
      </div>
    </div>
    {% include best_practices.html %}
    {% include attacks.html %}
  </div>
</div>

<div class="row" style="margin-top:5vw;border-top:1px solid #4f4f4f;">
      {% include further_reading.html %}
      {% include related_articles.html %}
</div>
