---
layout: default
---
{% include path.html %}


<div id="contentScroller">
<div id="devtitle">
      <strong style="font-size:3vw;">{{page.title}}</strong><br /><br />
</div>
{% include page_nav.html %}
</div>

{% include alerts.html %}


<div class="container-fluid">
  <div class="row">
    <div id="topic" class="col-md-4 col-sm-4 col-xs-4" style="width:100%">
      <div class="timestamp">
        <p><span>{{page.update}}</span></p>
      </div>
      <div class="description">
        <p>
        <a name="Overview"></a> 
        <H2>Overview:</H2>
            {{ content }}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="topic">
    <a name="GettingStarted"></a> 
    <H2> Getting Started:</H2>
    {% include pack2.html %}
    </div>
  </div>
  <div class="container-fluid">
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
  <a name="BestPractices"></a> 
  <H2>Best Practices and Advisories:</H2>
  {% include best_practices.html %}
    </div>
</div>
</div>
</div>


<div class="row" style="margin-top:5vw;border-top:1px solid #4f4f4f;">
      {% include further_reading.html %}
      {% include related_articles.html %}
</div>
