---
layout: default
---
{% include path.html %}

<div id="contentScroller">
    <strong style="font-size:2vw;">Content</strong>
  </div>

{% include alerts.html %}

<div class="container-fluid">
  <div class="row" style="padding: 2vw;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          {{content}}
      </div>
	 </div>
</div>

<div class="row" style="margin-top:5vw;border-top:1px solid #4f4f4f;">
      {% include further_reading.html %}
      {% include related_articles.html %}
</div>
